.about_bio,
.about-details {
  background: hsl(var(--light-navy));
  box-shadow: 0 20px 30px -15px hsl(var(--box-shadow));
  padding: 20px 7px 20px 12px;
}

.about_bio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
  padding-top: 27%;
}
.about_bio > * {
  margin-bottom: 20px;
}

.display-pic {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.name {
  color: hsl(var(--clr-light));
  font-size: 1.2em;
}
.about_tech {
  font-family: var(--ff-mono);
}
span {
  color: hsl(var(--clr-gold));
  margin-right: 5px;
}

ul.about_tech {
  color: hsl(var(--clr-accent));
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
}
.about_tech li {
  margin-right: 5px;
}
.about_tech li::after {
  content: ',';
}
.about_tech li:last-child::after {
  content: '.';
}

p {
  color: hsl(var(--clr-grey));
  font-size: 1em;
  letter-spacing: 1.2px;
  line-height: 1.7;
}

.about-details {
  margin-bottom: 10px;
}
.about-details > * {
  margin-bottom: 10px;
}
.heading {
  font-size: 1.5em;
  color: hsl(var(--clr-gold));
  text-align: center;
}

@media screen and (max-width: 800px) {
  .about_bio,
  .about-details {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 800px) {
  .about_me {
    max-height: 100%;
    flex-direction: column;
  }
  .about_bio {
    padding-top: 80px;
  }
  .btn_about {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .about_me {
    flex-direction: row;
    max-height: 80vh;
  }
  .about_bio {
    justify-content: space-between;
    padding-top: 90px;
    margin-right: 50px;
    font-size: 1.4rem;
    flex: 1;
  }
  .about_bio,
  .about-details {
    margin-top: 50px;
  }
  .about_bio .name {
    font-size: 1em;
  }

  .about_bio p {
    font-size: 0.7em;
  }
  ul.about_tech {
    font-size: 0.7em;
  }

  .about-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
  }

  .about-details p {
    font-size: 0.9em;
    letter-spacing: 1.1px;
    line-height: 1.3;
  }
}
