.profile {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.profile > * {
  margin-bottom: 20px;
}

.intro {
  color: hsl(var(--clr-accent));
  font-family: var(--ff-mono);
  margin-bottom: 10px;

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20, end) infinite;
}

.name {
  font-size: 1.4em;
  margin-bottom: 5px;
  color: hsl(var(--clr-grey));
  font-weight: 700;
}
.skill {
  text-transform: uppercase;
  color: hsl(var(--clr-light));
  font-size: 0.9em;
}

.subheading {
  color: hsl(var(--clr-accent) / 0.8);
  font-size: 1.3em;
  line-height: 1.3;
  display: none;
  transition: display 2s ease;
}

.subheading.active {
  display: block;
}
.bio {
  color: hsl(var(--clr-grey));
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  word-spacing: 1.5px;
}

/* KEYFRAMES */

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .profile {
    flex: 1;
    margin: 0 15px 0 0;
    font-size: 1.1rem;
  }
  .intro {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .subheading {
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .bio {
    font-size: 0.8em;
    letter-spacing: 1.3px;
    word-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .projectSnippet {
    overflow: auto;
    flex: 1.3;
  }
}

@media screen and (min-width: 950px) {
  .profile {
    font-size: 1.5rem;
  }
  .name {
    font-size: 1.5em;
  }
  .subheading {
    font-size: 1.4em;
  }
  /* .bio {
    font-size: 0.5em;
  } */
}
